//fonts
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
//bootstrap
@import "node_modules/bootstrap/scss/functions";
@import "node_modules/bootstrap/scss/variables";
@import "node_modules/bootstrap/scss/mixins";
@import "~bootstrap/scss/bootstrap";

$nav-link-active-bg: #553cdd;
$header-color: #fdfdfd;

body {
  font-family: "Poppins", sans-serif;
}

h2 {
  color: #182a69;
}

.main-color {
  background-color: $header-color;
}

.secondary-color {
  background-color: #ececec;
}

.bg-blue {
  background-color: #182a69;
}

.nav-text {
  font-weight: bold;
  font-family: "Poppins", sans-serif;
}

.navbar-nav > {
  .active {
    color: $nav-link-active-bg !important;
  }
}

.navbar-light .navbar-nav .nav-link {
  color: black;
}

.navbar-text {
  color: black !important;
}

.btn-social-media {
  background-color: transparent;
  border-width: 0;
}

.btn-stories:hover {
  background-color: rgba($color: gray, $alpha: 0.25);
  border-width: 0;
}

.nav .nav-link > :hover {
  color: $header-color;
}

.top-banner-section {
  background-color: #182a69;
  .banner {
    background-repeat: no-repeat;
    background-size: contain;
  }
  .banner-1 {
    background-image: url("../assets/home-assets/top-banner-1.png");
    background-position: right bottom;
  }
  .banner-2 {
    background-image: url("../assets/home-assets/top-banner-2.png");
    background-position: center bottom;
  }
  .banner-3 {
    background-image: url("../assets/home-assets/top-banner-3.png");
    background-position: left bottom;
  }
}
.footer {
  background-color: #182a69;
  color: $header-color;
  h5 {
    color: $header-color;
  }
  small {
    color: gray;
  }
}

.justify {
  text-align: justify;
}
